<div class="container">
  <div class="row">
    <div class="col-xs-12 separador50 centralizar"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 centralizar"><img src="assets/images/pizza-lista-icone.png"></div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-4"></div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <form name="vm.form">
            <div class="form-group">
              <label class="sofia fsz18">Descrição</label>
              <input type="text" class="form-control" placeholder="Nome Pizza" ng-model="vm.pizza.descricao">
            </div>
            <div class="form-group">
              <label class="sofia fsz18">Tamanho</label>
              <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.pizza.tamanho=='PEQUENA'}" ng-click="vm.pizza.tamanho = 'PEQUENA'">Pequena</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.pizza.tamanho=='MEDIA'}" ng-click="vm.pizza.tamanho = 'MEDIA'">Média</button>
                <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.pizza.tamanho=='GRANDE'}" ng-click="vm.pizza.tamanho ='GRANDE'">Grande</button>
              </div>

            </div>
            <div class="form-group">
              <label for="preco" class="sofia fsz18">Preço</label>
              <input type="text" class="form-control" id="preco" placeholder="Preço" ng-model="vm.pizza.preco" min="0">
            </div>
            <button type="submit" class="btn btn-primary sofia fsz18 btn-acesso"
                    ng-click="vm.save(vm.pizza)">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xs-4"></div>
  </div>
</div>


